.settings__setting {
  padding: 20px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settings__setting i {
  margin-right: 20px;
  font-size: 22px;
  opacity: 0.8;
}

.settings__setting-column:last-child {
  opacity: 0.5;
}

.settings-list {
  margin-bottom: 25px;
}

.settings-list .divider {
  background-color: rgba(0, 0, 0, 0.15);
  width: 100%;
  height: 2px;
  margin-top: 15px;
}
